* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: 900px;
  background-color: black;
}

.container {
  width: 900px;
  position: relative;
  margin: 50px auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.content {
  background-color: rgba(95, 95, 95, .8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.header-block {
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.remote-title {
  align-items: center;
}

.title-text {
  color: white;
}

.remote-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.reload {
  width: 100px;
  height: 100px;
  text-align: center;
}

.reload:hover {
  background-color: rgba(253, 255, 230, 0.9);
  border-radius: 50%;
}

.reload:active {
  background-color: rgba(98, 100, 135, 0.9);
  border-radius: 50%;
}

.reload-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.reload-img:hover {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.msg {
  width: 300px;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.success {
  background-color: rgba(89, 136, 89, .8);
}

.error {
  background-color: rgba(180, 25, 55, .8);
}

.info {
  background-color: rgba(62, 120, 220, 0.81);
}

.resources{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 900px;
  min-height: 190px;
  padding: 20px 0 0 20px;
}

.resource {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  margin: 0 20px 20px 0;
  padding: 20px;
  position: relative;
}

.resource:hover {
  background-color: khaki;
}

.title {
  margin-bottom: 10px;
}

.btns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 160px;
  bottom: 15px;
}

.btn {
  width: 70px;
  padding: 10px;
  text-align: center;
  color: #9c9c9c;
  font-weight: 700;
  letter-spacing: 2px;
  outline: solid 2px lightgrey;
  cursor: pointer;
}

.btn:hover {
  outline: solid 2px #3372ff;
  color: #3372ff;
}

.btn.default, .btn.playing {
  pointer-events: none;
}

.default {
  background-color: #d2a510;
  color: white;
}

.playing {
  background-color: forestgreen;
  color: white;
}